<div class="col s12 m6">
  <div class="card hoverable">
    <%= render partial: 'shared/ribbon', locals: { name: "whatever", color: "red" } %>
    <div class="card-image">
      <!-- <img src="/santa-wave.gif"> -->
      <span class="card-title green-text text-darken-2"><%# assignment.assigned_to.first_name %></span>
    </div>
    <div class="card-content">
      <p><%= idea.name %></p>
    </div>
  </div>
</div>
