<div class="col s12 m6">
  <div class="card hoverable <% if assignment.year == Time.zone.now.year %>z-depth-3<% end %>">
    <div class="card-image">
      <img src="/santa-wave.gif">
      <span class="card-title green-text text-darken-2"><%= assignment.assigned_to.email %></span>
    </div>
    <div class="card-content">
      <div class="chip">
        <a href="#"><%= assignment.year %></a>
      </div>
    </div>
  </div>
</div>
