<% if @user %>
<li class="tooltipped" data-position="left" data-delay="50" data-tooltip="New Idea for <%= @user.first_name %>">
  <%= link_to ('<i class="material-icons">textsms</i>').html_safe, new_user_idea_path(@user), class: 'btn-floating blue' %>
</li>
<% end %>
