<p>Hello <%= @resource.email %>, welcome to<% if ENV["group"] %> The <%= ENV["group"] %><% end %> Secret Santa!</p>

<p>You can use the following link to create or change your password: <%= link_to 'Create or change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Once you are logged in, feel free to update your profile with any wishlist links you have or ideas to help out your secret santa this year.</p>
<p>Have fun, and get shopping!</p>
